body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;
  overflow: hidden;
}

/* ☀️ SOL */
.sol {
  width: 150px;
  height: 150px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
}

/* 🌑 LUNA */
.luna {
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 50%;
  position: absolute;
  animation: eclipse 6s infinite linear;
}

/* 🌘 ANIMACIÓN ECLIPSE */
@keyframes eclipse {
  0% {
    transform: translateX(-400px);
  }

  40% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(0px);
  }

  60% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(400px);
  }
}