body {
    background-color: #d9d4cf;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Contenedor que "atrapa" la imagen */
.contenedor {
    display: inline-block;
    border: 20px solid orange; /* borde exterior */
    padding: 20px; /* espacio interno */
    background-color: white;
}

/* Imagen */
.contenedor img {
    max-width: 100%;
    height: auto;
}