body {
    background-color: #d9d4cf;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Contenedor del efecto */
.marco {
    display: inline-block;
    padding: 20px;
    background-color: white;

    /* Bordes diferentes */
    border-top: 20px solid orange;
    border-left: 20px dashed orange;
    border-right: 20px dashed orange;
    border-bottom: 20px dashed orange;
}

/* Imagen */
.marco img {
    max-width: 100%;
    height: auto;
}